/*  your css code here. If applicable */
#container{
	margin:20px;}
	
main:before{
	color:rgb(255,0,0);
	content:'Before Element';
	font-size:20px;
	
}
main:after{
	color:rgb(255,0,0);
	content:'After Element';
	font-size:20px;
	
}
