/*  your css code here. If applicable */
#container{
	margin:20px;}
	
main:before{
	content:"Before Element";
	color:red;
	font-size:20px;
	
}
main:after{
	content:"After Element";
	color:red;
	font-size:20px;
	
}
